<!DOCTYPE html>
<html lang="en" ng-app="pqMail">
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-ui-bootstrap-modal.js"></script>
		<script src="lib/angular/ui-bootstrap-alerts/ui-bootstrap-alerts.min.js"></script>
		<script src="js/controllers.js"></script>
		<title>PQMail</title>
	</head>
   
<body ng-controller="MessageListController">
	
	<figure class="logoContainer"><img src="img/logo.png" class="logo" ng-click='compose()'/></figure>
	
	<div id="container" class="section group">
	
		<div id="navigation" class="col span_1_of_8">
		
			<button ng-click='compose()'>Compose</button>
			
			<br><br>
			<div ng-repeat="item in items">
				<div>
					{{item.label}}
					({{item.count}})
				</div>
			</div>
		</div>
		
		<div id="mail" class="col span_7_of_8">
			<div ng-repeat="message in messages" class="item">
				<div class="section group">
					<div class="col span_1_of_8">
						<figure>
							<img alt="" src="{{message.avatar}}" class="avatar">
						</figure>
					</div>
					 
					<div class="col span_2_of_8">
						<p>{{message.sender}}</p>
					</div>
					<div class="col span_5_of_8">
						<p>{{message.subject}}</p>
					</div>
				</div>
			</div>
			
			<br>
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
	
	<!-- Compose Email Modal -->
	<div modal="showModal" class="composeForm">
	
		<div class="modal-header">
			<div><h4>New Email</h4></div>
			<div><span ng-click='decompose()' class="close">x</span></div>
		</div>
		
		<div class="modal-body">
			
			<form>
				<div class="recipients field">
					
					<div>
					<span ng-repeat="recipient in recipients" class="recipient">
						<span>{{recipient.email}}</span>
						<span ng-click='removeRecipient(recipient.email)' class="remove">x</span>
					</span>
					</div>
					
					<br>
					
					<input ng-model="recipientInput" ng-keypress="checkRecipients()" type="text" placeholder="Recipients" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"></input>
				</div>
				
				<div class="field">
					<textarea ng-model="message" rows="4" cols="50" placeholder="Message" required></textarea>
				</div>
				
				<div class="modal-footer">
					<button ng-click="send()" type="submit" class="btn btn-success">Send</button>
				</div>
			</form>
			
		</div>
		
	</div>
	       
	<script type="text/javascript" src="phonegap.js"></script>
		<script type="text/javascript">
		app.initialize();
	</script>
</body>
</html>