body {
  background-color: #fff;
}

html * {
	color: #222;
	font-family: Open Sans, Sans-Serif, Tahoma, Helvetica;
}

figure {
  width: 32px;
}

.logo {
	width: 256px;
}

.avatar {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 -30px;
}

p {
	padding: 1px 1em;
}

button {
	color: #eee;
	background: rgb(60, 140, 200);
	border: 1px solid rgb(45, 110, 159);
	border-radius: 4px;
	padding: 6px 12px;
}


#navigation {
	font-weight: bold;
}

#mail {
	font-weight: normal;
}

#mail > div:nth-child(odd) {
	background: #f9f9f9;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

#mail > div:nth-child(even) {
	background: #fff;
}

.modal-header {
	background: #333;
}

.modal-header > div {
	display: inline-block;
}

.modal-header > div:nth-child(even) {
	position: absolute;
	top: 6px;
	right: 10px;
}

.modal-body {
	background: #fff;
}

.close {
	font-weight: bold;
	color: #eee;
}

.close:hover {
	font-weight: bold;
	color: red;
}

.composeForm {
	background: #333;
	border: 2px solid #ddd;
	width: 400px;
	position: fixed;
	right: 0;
	bottom: 0;
}

.composeForm h4 {
	color: #fff;
	padding-left: 8px;
	margin: 8px 1px 8px 12px;
}

.field {
	padding: 8px;
	margin-right: 12px;
}

.composeForm input {
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 8px;
	width: 100%;
}

.composeForm textarea {
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 8px;
	width: 100%;
}

.recipient {
	background: #f9f9f9;
	border: 2px solid #ddd;
	border-radius: 4px;
	display: inline;
	margin: 0 4px 0 4px;
	font-size: 12px;
	padding: 2px;
}

.remove {
	font-weight: bold;
	color: eee;
}

.remove:hover {
	font-weight: bold;
	color: red;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: -10px 0 -10px 1.6%;
}
.col:first-child { margin-left: 0; }

@media only screen and (max-width: 650px) {
	
	.logoContainer {
		width: 256px;
		display: block;
		margin: 0 auto;
	}
	
	.logo {
		width: 100%;
	}
	
	#navigation {
		display: none;
	}
	
	#mail {
		width: 100%;
	}
}

alert {
	border: 1px solid transparent;
	padding: 8px;
	display: block;
	margin-bottom: 8px;
}

alert[type="error"] {
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 4px;
	color: #a94442;
}

alert[type="success"] {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	border-radius: 4px;
	color: #3c763d;
}

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.3%;
}

.span_6_of_8 {
  	width: 74.6%;
}

.span_5_of_8 {
  	width: 61.9%;
}

.span_4_of_8 {
  	width: 49.2%;
}

.span_3_of_8 {
  	width: 36.5%;
}

.span_2_of_8 {
  	width: 23.8%;
}

.span_1_of_8 {
  	width: 11.1%;
}